# Basic

## String

In [27]:
string1 = "hello"
string2 = "dunia"
string3 = string1 + " " + string2

print(string3)

hello dunia

In [29]:
string4 = "5"
number4 = int(string4)
string_baru = str(number4)

print(type(number4), "%s" % number4)

<class 'int'> 5

### Exercise

Print nama masing2 minimal 2 kata, serta umur    
**output:** Nama saya Syarif Hidayat, umur 30

In [32]:
nama_depan = "Syarif"
nama_belakang = "Hidayat"
umur = 30

print("Nama saya " + nama_depan + " " + nama_belakang +", umur "+str(umur))
print("Nama saya %s %s, umur %d" % (nama_depan, nama_belakang, umur))

Nama saya Syarif Hidayat, umur 30
Nama saya Syarif Hidayat, umur 30

## List

In [33]:
list1 = [4, 2, 3, 7, 8]
print(list1)
print("Max: %d" % max(list1))
print("Min: %d" % min(list1))
list1.sort()
print(list1)

[4, 2, 3, 7, 8]
Max: 8
Min: 2
[2, 3, 4, 7, 8]

In [34]:
list1.append(6)
# now, list1 should be [4, 2, 3, 7, 8, 6]
print(list1)
print(list1[1])
print(list1[3])
print(list1[:2])

[2, 3, 4, 7, 8, 6]
3
7
[2, 3]

### Exercise
Buat list nama dari semua peserta, dan tampilkan 2 nama terakhir saja    
list_nama = ["Syarif", "Hari", "Ai", "Joko"]    
**output:** ["Ai", "Joko"]

In [38]:
list_nama = ["Syarif", "Hari", "Ai", "Joko", "Jogja"]

print(list_nama[-2:])

['Joko', 'Jogja']

## Dictionary

In [7]:
dict1 = {'syarif' : 30, 'hari': 33}
dict1['sukro'] = 50
print(dict1)

{'syarif': 30, 'hari': 33, 'sukro': 50}

In [8]:
data_peserta = []
peserta1 = {'nama': 'syarif', 'umur': 30}
peserta1['alamat'] = 'sleman'
data_peserta.append(peserta1)
print(data_peserta)

[{'nama': 'syarif', 'umur': 30, 'alamat': 'sleman'}]

In [9]:
data_peserta

[{'nama': 'syarif', 'umur': 30, 'alamat': 'sleman'}]

### Exercise
Coba tambahkan no hape pada peserta    
**output:** [{'nama': 'syarif', 'umur': 30, 'alamat': 'sleman', 'no_hape': '0818123456'}]

In [10]:
print(data_peserta)

[{'nama': 'syarif', 'umur': 30, 'alamat': 'sleman'}]

## Operator

In [11]:
number1 = 1
number2 = 3
jumlah = number1 + number2
print(jumlah)

4

In [39]:
string1 = "hello"
string2 = "world"
hello = string1+ " " +string2
print(hello.upper())
print(len(hello))
print(hello[:2])

HELLO WORLD
11
he

### Exercise
Buat string isinya nama masing2, dan tampilkan nama 3x dengan 1 print    
***output:***    
Syarif   
Syarif   
Syarif

In [41]:
nama = "Syarif\n"
print(nama*3)

Syarif
Syarif
Syarif

## Condition

In [44]:
nama = "Syarif"
umur = 90

if umur > 17 and umur < 50:
    print("%s, Anda sudah bisa bikin KTP" % nama)
else:
    nama = "Ai"
    print("%s, maaf Anda belum cukup umur untuk bikin KTP" % nama)

Ai, maaf Anda belum cukup umur untuk bikin KTP

In [45]:
list_peserta = ["nama1", "nama2", "nama3", "syarif"]
nama_saya = "syarif"
if nama_saya in list_peserta:
    print("anda masuk dalam list peserta")
else:
    print("anda bukan peserta, silahkan hubungi panitia")

anda masuk dalam list peserta

### Exercise
Dari list peserta yang pernah kita bikin diatas.   
Buat kondisi ketika jumlah peserta >10 maka siap dimulai

In [48]:
list_peserta = ["nama1", "nama2", "nama3", "syarif"]
if len(list_peserta) > 10:
    print("siap dimulai")
elif len(list_peserta) == 4:
    print("dimulai aja dulu gpp")
else:
    print("menunggu temannya")

dimulai aja dulu gpp

## Loop

In [60]:
x = 5
print(range(x))
for i in range(10):
    print(i)

range(0, 5)
0
1
2
3
4
5
6
7
8
9

In [17]:
for i in range(4, 10):
    print(i)

4
5
6
7
8
9

In [18]:
x = 5
while x > 0:
    print(x)
    x -= 1

5
4
3
2
1

### Exercise
Dari list_peserta (yang ada pada condition), silahkan loop dan print nama masing2

In [50]:
print(list_peserta)
for nama in list_peserta:
    print(nama)

['nama1', 'nama2', 'nama3', 'syarif']
nama1
nama2
nama3
syarif

## Function

In [52]:
def tampilkan_hello():
    return "Hello"
stringx = tampilkan_hello()
print(stringx)

Hello

In [55]:
def penjumlahan(angka1, angka2):
    return angka1 + angka2

penjumlahan(2, 4)

6

In [56]:
def penjumlahan(angka1, angka2, *args):
    jumlah = angka1 + angka2
    for angka in args:
        jumlah += angka
    return jumlah

print(penjumlahan(2, 4, 5, 10, 8, 9))

38

In [57]:
def set_fullname(nama_depan="", nama_belakang=""):
    return nama_depan + " " + nama_belakang

print(set_fullname("ai", "jogja"))
print(set_fullname(nama_belakang="ai", nama_depan="jogja"))

ai jogja
jogja ai

In [23]:
def get_fullname(nama_depan="", nama_belakang="", **kwargs):
    if kwargs.get('nama_tengah'):
        return "%s %s %s" % (nama_depan, kwargs['nama_tengah'], nama_belakang)
    return "{0} {1}".format(nama_depan, nama_belakang)

fullname1 = get_fullname(
    nama_belakang="jogja",
    nama_depan="ai"
)
print(fullname1)

fullname2 = get_fullname(
    nama_belakang="jogja",
    nama_depan="ai",
    nama_tengah="from"
)
print(fullname2)

ai jogja
ai from jogja

### Exercise
Saya punya uang RP 675.350,00. Dan saya mau mengambil uang saya dengan pecahan 100.000, 20.000, 1.000, 200 dan 50.    Berapa jumlah masing2 pecahan yang saya dapat?   
jawaban:   
- 100000 (6)
- 20000 (3)
- 1000 (15)
- 200 (1)
- 50 (3)   

**Buatkan fungsi untuk menghitung hal tersebut, dan buat agar saya punya uang bisa dinamis**

## List Comprehensions

In [24]:
list_angka = [3, 4, 1, 5, 6, 8, 9, 10, 99, 16, 18]
list_angka

[3, 4, 1, 5, 6, 8, 9, 10, 99, 16, 18]

In [25]:
ganjil = []
for angka in list_angka:
    if angka % 2 != 0:
        ganjil.append(angka)
ganjil

[3, 1, 5, 9, 99]

In [26]:
genap = [angka for angka in list_angka if angka % 2 == 0]
genap

[4, 6, 8, 10, 16, 18]

## Test

Download this link [bit.ly/test_basic_python](https://bit.ly/test_basic_python).